<script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.44/darkreader.js"></script>
<script src="https://kit.fontawesome.com/c932f31334.js" crossorigin="anonymous"></script>

<div id="navbar" class="navbar-top">
	<div id="navitems">
		<a class="dark-mode-button"><i id="icon-dark" class="fa-solid fa-moon"></i></a>
		<a href="/index.html"><div class="navitem">Main</div></a>
		<a href="/about.html"><div class="navitem">Course Info</div></a>
		<div class="staff-dropdown">
			<div class="staff-dropdown-trigger">Staff <i class="fa fa-caret-down"></i></div>
			<div class="staff-dropdown-content">
				<a href="/staff/staff.html">Staff</a>
				<a href="/academic_interns.html">AIs</a>
			</div>
		</div>
		<a href="/resources.html"><div class="navitem">Resources</div></a>
		<a href="http://beacon.datastructur.es/" target="_blank">
			<div class="navitem">Beacon <i class="fa fa-external-link" aria-hidden="true"></i></div></a>
		<a href="https://edstem.org" target="_blank"><div class="navitem">Ed <i class="fa fa-external-link" aria-hidden="true"></i></div></a>
		<a href="https://oh.datastructur.es" target="_blank"><div class="navitem">OH Queue <i class="fa fa-external-link" aria-hidden="true"></i></div></a>
	</div>
</div>
