#coursename {
  color: $cs61b-blue-light;
  margin: 30px 40px 20px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

#courseid {
  color: $cs61b-blue-dark;
  font-size: 60px;
  margin-right: 10px;
}

#courseinfo {
  margin-left: 40px;
}
